test/xsd/commons/dom-gosuslugi-ru-smev3-common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:dom.gosuslugi.ru/common/1.2.0"
           targetNamespace="urn:dom.gosuslugi.ru/common/1.2.0" elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!--Общие типы для сообщений запросов и ответов-->

    <xs:complexType name="BaseRequestType">
        <xs:annotation>
            <xs:documentation>Базовый тип запроса</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="information-system-id" type="tns:UUID">
                <xs:annotation>
                    <xs:documentation>Идентификатор информационной системы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organization-id" type="tns:UUID">
                <xs:annotation>
                    <xs:documentation>Идентификатор зарегистрированной организации</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID">
            <xs:annotation>
                <xs:documentation>В соответствии с требованиями СМЭВ необходим при наложении на запрос ЭП-СП
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ErrorType">
        <xs:annotation>
            <xs:documentation>Базовый тип ошибки контроля или бизнес-процесса</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="error-code" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Код ошибки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Описание ошибки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stacktrace" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>StackTrace в случае возникновения исключения</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!--Общие типы для сообщений запросов и ответов для операций импорта-->

    <xs:complexType name="BaseTransportEntityType">
        <xs:annotation>
            <xs:documentation>Базовый тип сущности, у которой есть транспортной идентификатор</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="transport-id" type="tns:UUID">
                <xs:annotation>
                    <xs:documentation>Транспортный идентификатор</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SuccessType">
        <xs:annotation>
            <xs:documentation>Успешный результат</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="tns:UUID" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Идентификатор объекта в ГИС ЖКХ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="update-date" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дата модификации</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BaseResultType">
        <xs:annotation>
            <xs:documentation>Базовый тип ответа</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:BaseTransportEntityType">
                <xs:choice>
                    <xs:element name="success" type="tns:SuccessType">
                        <xs:annotation>
                            <xs:documentation>Успешный результат</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="error" type="tns:ErrorType" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Список ошибок</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ImportResultType">
        <xs:annotation>
            <xs:documentation>Результат операции импорта</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="result" type="tns:BaseResultType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Список результатов импорта по каждой сущности</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="error" type="tns:ErrorType">
                <xs:annotation>
                    <xs:documentation>Ошибка импорта</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <!--Общие типы для сообщений запросов и ответов для операций экспорта-->

    <xs:complexType name="ExportPeriodType">
        <xs:annotation>
            <xs:documentation>Период выгрузки</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="start-date" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата начала периода (включается)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="end-date" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дата окончание периода (не включается)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PagingParametersType">
        <xs:annotation>
            <xs:documentation>Параметры постраничной выгрузки</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="page-size" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Желаемое количество результатов экспорта следующей страницы</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="page-key" type="tns:UUID" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Ключ следующей страницы</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExportToFTPResultType">
        <xs:annotation>
            <xs:documentation>Результат экспорта на FTP</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="success" type="xs:boolean" fixed="true">
                <xs:annotation>
                    <xs:documentation>Успешный результат</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="error" type="tns:ErrorType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Список ошибок</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="ExportEntityErrorType">
        <xs:annotation>
            <xs:documentation>Базовый тип ошибки при экспорте конкретной записи</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="guid" type="tns:UUID">
                <xs:annotation>
                    <xs:documentation>Уникальный идентификатор найденной в ГИС ЖКХ записи, при экспорте которой возникла ошибка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="error" type="tns:ErrorType">
                <xs:annotation>
                    <xs:documentation>Информация об ошибке</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FileInformationType">
        <xs:annotation>
            <xs:documentation>Тип, описывающий информацию о файле</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="guid" type="tns:UUID">
                <xs:annotation>
                    <xs:documentation>Уникальный идентификатор файла</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name">
                <xs:annotation>
                    <xs:documentation>Наименование файла</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1024"/>
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="description" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Описание файла</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="500"/>
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="hash" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Хэш-сумма, рассчитанная по алгоритму ГОСТ-34 в binhex</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!--Общие типы данных-->

    <xs:simpleType name="UUID">
        <xs:annotation>
            <xs:documentation>Универсальный уникальный идентификатор (UUID - Universally Unique Identifier) RFC 4122
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="INNType">
        <xs:annotation>
            <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{10}|\d{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FIOType">
        <xs:annotation>
            <xs:documentation>Фамилия Имя Отчество</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="firstname">
                <xs:annotation>
                    <xs:documentation>Имя</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastname">
                <xs:annotation>
                    <xs:documentation>Фамилия</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="middlename" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Отчество</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="KPPType">
        <xs:annotation>
            <xs:documentation>КПП</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BIKType">
        <xs:annotation>
            <xs:documentation>БИК</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{9}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BankAccountType">
        <xs:annotation>
            <xs:documentation>Номер счета</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="MonthYearType">
        <xs:annotation>
            <xs:documentation>Тип, описывающий месяц и год</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="month" type="tns:MonthType">
                <xs:annotation>
                    <xs:documentation>Месяц</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="year" type="tns:YearType">
                <xs:annotation>
                    <xs:documentation>Год</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="MonthType">
        <xs:annotation>
            <xs:documentation>Тип, описывающий месяц</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:maxInclusive value="12"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="YearType">
        <xs:annotation>
            <xs:documentation>Год</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1920"/>
            <xs:maxInclusive value="2050"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OKTMOType">
        <xs:annotation>
            <xs:documentation>Код по ОКТМО</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="11"/>
            <xs:pattern value="\d{11}|\d{8}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OGRNIndividualEntrepreneurType">
        <xs:annotation>
            <xs:documentation>ОГРН индивидуального предпринимателя</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OGRNOrganizationType">
        <xs:annotation>
            <xs:documentation>ОГРН юридического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="13"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SNILSType">
        <xs:annotation>
            <xs:documentation>СНИЛС</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="11"/>
            <xs:pattern value="\d{11}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NSICodeType">
        <xs:annotation>
            <xs:documentation>Код записи в НСИ ГИС ЖКХ</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:pattern value="(A{0,1}\d{1,4}(\.)?)+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="NSIRefType">
        <xs:annotation>
            <xs:documentation>Ссылка на справочник ГИС ЖКХ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="tns:NSICodeType">
                <xs:annotation>
                    <xs:documentation>Код записи справочника</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="guid" type="tns:UUID">
                <xs:annotation>
                    <xs:documentation>Уникальный идентификатор записи в справочнике ГИС ЖКХ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Значение</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="URLType">
        <xs:annotation>
            <xs:documentation>URL</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
