test/xsd/dom-gosuslugi-ru-smev3-debt-responses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:dom.gosuslugi.ru/debt-responses/1.0.0" xmlns:common="urn:dom.gosuslugi.ru/common/1.2.0" targetNamespace="urn:dom.gosuslugi.ru/debt-responses/1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn:dom.gosuslugi.ru/common/1.2.0" schemaLocation="./commons/dom-gosuslugi-ru-smev3-common.xsd"/>
	<xs:element name="ExportDebtRequestsRequest">
		<xs:annotation>
			<xs:documentation>Корневой элемент запроса экспорта из ГИС ЖКХ запросов о наличии задолженности за ЖКУ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseRequestType">
					<xs:choice>
						<xs:annotation>
							<xs:documentation>Условия отбора запросов о наличии задолженности за ЖКУ</xs:documentation>
						</xs:annotation>
						<xs:element name="request-id" type="common:UUID" maxOccurs="100">
							<xs:annotation>
								<xs:documentation>Идентификатор запроса о наличии задолженности за ЖКУ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="request-number" type="tns:RequestNumberType" maxOccurs="100">
							<xs:annotation>
								<xs:documentation>Номер запроса, присвоенный ГИС ЖКХ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>
                                    Условия отбора по атрибутам запроса.

                                    Условия могут указываться в любых сочетаниях. В ответное сообщение будут включены
                                    только те запросы о задолженности, которые удовлетворяют ВСЕМ указанным условиям.
                                    Условие считается выполненным, если значение соответствующего атрибута запроса о
                                    задолженности:

                                    либо совпадает с указанным в условии значением (применимо к элементу
                                    applicant-info);

                                    либо совпадает с одним из указанных в условии значений (для элементов
                                    request-status, request-result, house-id);

                                    либо попадает в заданный временной период (для элементов, задающих временной период)
                                </xs:documentation>
							</xs:annotation>
							<xs:element name="request-creation-period" type="tns:Period">
								<xs:annotation>
									<xs:documentation>Период создания запроса в ГИС ЖКХ. Указываемый период не должен превышать 6-ти месяцев</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="period-of-sending-request" type="tns:Period" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Период направления запроса поставщикам ЖКУ. Указываемый период не должен превышать 6-ти месяцев</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="period-of-response-date" type="tns:PeriodOpen" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Период крайнего срока ответа на запрос</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="applicant-info" type="tns:ApplicantInfoRequestType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Информация о заявителе</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="house-id" type="common:UUID" minOccurs="0" maxOccurs="100">
								<xs:annotation>
									<xs:documentation>Идентификатор дома в Реестре адресных объектов ГИС ЖКХ, по которому осуществляется запрос</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="request-status" type="tns:RequestStatusType" minOccurs="0" maxOccurs="4">
								<xs:annotation>
									<xs:documentation>
                                        Статус запроса в ГИС ЖКХ. Допустимые значения:
                                        DRAFT - Проект
                                        PROCESSING - В обработке
                                        SENT - Направлен поставщикам ЖКУ
                                        PROCESSED - Получен ответ
                                        REVOKED - Отозван
                                    </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="request-result" type="tns:RequestResultType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Результат выполнения запроса о наличии задолженности за ЖКУ.

                                        Допускаются любые значения из справочника ГИС ЖКХ "Результат запроса о наличии
                                        или отсутствии задолженности за ЖКУ". На момент выпуска версии 1.0.0 вида
                                        сведений актуальными являются следующие значения:
                                        1 - Запрос не отправлен
                                        2 - Запрос ожидает ответа
                                        3 - Имеется информация о задолженности
                                        4 - Задолженности нет
                                        5 - Отсутствует размещенная информация в ГИС ЖКХ
                                        6 - Информация о задолженности отсутствует
                                    </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="export-request-id" type="common:UUID" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
                                        Идентификатор, используемый для экспорта 2-го и последующих блоков данных.

                                        Если в элементе ExportDebtRequestsRequest указаны условия отбора по атрибутам
                                        запроса, то экспорт запросов осуществляется блоками по 100 запросов в каждом
                                        блоке (последний блок может содержать меньшее число запросов).

                                        Для экспорта первого блока данных элемент не указывается. Для экспорта каждого
                                        следующего блока данных в элементе должно указываться значение элемента
                                        ExportDebtRequestsResponse/paged-output/next-request-id, полученное при экспорте
                                        предыдущего блока данных
                                    </xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExportDebtRequestsResponse">
		<xs:annotation>
			<xs:documentation>Корневой элемент ответа экспорта из ГИС ЖКХ запросов о наличии задолженности за ЖКУ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="request-data" type="tns:ExportDebtRequestType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Данные запроса в ГИС ЖКХ о наличии задолженности за ЖКУ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="not-found" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Запросы о наличии задолженности за ЖКУ, данные о которых не найдены в ГИС ЖКХ</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice>
								<xs:element name="request-id" type="common:UUID" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Идентификатор запроса о наличии задолженности за ЖКУ</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="request-number" type="xs:string" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Номер запроса, присвоенный в ГИС ЖКХ</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="paged-output" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                                Параметры, необходимые для экспорта следующего блока данных (см. аннотацию элемента
                                ExportDebtRequestsRequest/export-request-id).
                                Заполняется, если в элементе ExportDebtRequestsRequest указаны условия отбора по
                                атрибутам запроса
                            </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice>
								<xs:element name="next-request-id" type="common:UUID">
									<xs:annotation>
										<xs:documentation>
                                            Идентификатор, который необходимо указать в элементе ExportDebtRequestsRequest/export-request-id для экспорта следующего блока данных
                                        </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="last-page" type="xs:boolean" fixed="true">
									<xs:annotation>
										<xs:documentation>Признак того, что текущий экспортируемый блок является последним</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="error" type="common:ErrorType">
					<xs:annotation>
						<xs:documentation>Ошибка контроля или бизнес-процесса</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ApplicantInfoRequestType">
		<xs:annotation>
			<xs:documentation>Информация о заявителе, указываемая в параметрах запроса</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="firstname" type="tns:PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastname" type="tns:PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middlename" type="tns:PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snils" type="common:SNILSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>СНИЛС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="document" type="tns:DocumentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Документ, удостоверяющий личность заявителя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicantInfoType">
		<xs:annotation>
			<xs:documentation>Информация о заявителе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="firstname" type="tns:PersonNameType">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastname" type="tns:PersonNameType">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middlename" type="tns:PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snils" type="common:SNILSType">
				<xs:annotation>
					<xs:documentation>СНИЛС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="document" type="tns:DocumentType">
				<xs:annotation>
					<xs:documentation>Документ, удостоверяющий личность заявителя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DebtInfoType">
		<xs:annotation>
			<xs:documentation>Информация о задолженности, подтвержденной судебным актом</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="person">
				<xs:annotation>
					<xs:documentation>Информация о лице, в отношении которого имеется задолженность</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="firstname" type="tns:PersonNameType">
							<xs:annotation>
								<xs:documentation>Имя</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="lastname" type="tns:PersonNameType">
							<xs:annotation>
								<xs:documentation>Фамилия</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="middlename" type="tns:PersonNameType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Отчество</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="snils" type="common:SNILSType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>СНИЛС</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="document" type="tns:DocumentType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="document" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Документ, подтверждающий задолженность</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="tns:CourtDocumentType">
							<xs:annotation>
								<xs:documentation>Тип документа</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="attachment" type="tns:AttachmentType">
							<xs:annotation>
								<xs:documentation>Прикрепленный файл</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:annotation>
			<xs:documentation>Документ, удостоверяющий личность заявителя</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="tns:DocumentCodeType">
				<xs:annotation>
					<xs:documentation>Вид документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="series">
				<xs:annotation>
					<xs:documentation>Серия</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="number">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExecutorInfoType">
		<xs:annotation>
			<xs:documentation>Информация об исполнителе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="common:UUID">
				<xs:annotation>
					<xs:documentation>Идентификатор исполнителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fio" type="tns:PersonNameType">
				<xs:annotation>
					<xs:documentation>ФИО Исполнителя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExportDebtRequestType">
		<xs:annotation>
			<xs:documentation>Данные запроса о наличии задолженности за ЖКУ для экспорта из ГИС ЖКХ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="request-id" type="common:UUID">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса, присвоенный в ГИС ЖКХ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="request-number" type="tns:RequestNumberType">
				<xs:annotation>
					<xs:documentation>Номер запроса, присвоенный в ГИС ЖКХ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicant-info" type="tns:ApplicantInfoType">
				<xs:annotation>
					<xs:documentation>Информация о заявителе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="housing-fund-object" type="tns:ExportHousingFundObjectInfoType">
				<xs:annotation>
					<xs:documentation>Сведения об объекте жилищного фонда (ОЖФ), по которому осуществляется запрос</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="period" type="tns:Period" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Период, за который запрашивается задолженность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="organization" type="tns:OrganizationInfoType">
				<xs:annotation>
					<xs:documentation>Организация, сформировавшая запрос</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="executor-info" type="tns:ExecutorInfoType">
				<xs:annotation>
					<xs:documentation>Информация о сотруднике, сформировавшем запрос</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="tns:RequestStatusType">
				<xs:annotation>
					<xs:documentation>
                        Статус запроса в ГИС ЖКХ о наличии задолженности за ЖКУ. Допустимые значения:
                        DRAFT - Проект
                        PROCESSING - В обработке
                        SENT - Направлен поставщикам ЖКУ
                        PROCESSED - Получен ответ
                        REVOKED - Отозван
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="result" type="tns:RequestResultType">
				<xs:annotation>
					<xs:documentation>
                        Результат выполнения запроса.

                        Допускаются любые значения из справочника ГИС ЖКХ "Результат запроса о наличии или отсутствии
                        задолженности за ЖКУ" (НСИ #345). На момент выпуска версии 1.0.0 вида сведений актуальными
                        являются следующие значения:
                        1 - Запрос не отправлен
                        2 - Запрос ожидает ответа
                        3 - Имеется информация о задолженности
                        4 - Задолженности нет
                        5 - Отсутствует размещенная информация в ГИС ЖКХ
                        6 - Информация о задолженности отсутствует
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creation-date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата создания запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sent-date" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата направления запроса поставщикам ЖКУ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="response-date" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Крайний срок ответа на запрос</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subrequest" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Запросы, направленные организациям, предоставляющим ЖКУ</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="organization" type="tns:OrganizationInfoType">
							<xs:annotation>
								<xs:documentation>Организация, предоставляющая ЖКУ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="response" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Ответ организации</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="type" type="tns:ResponseType">
										<xs:annotation>
											<xs:documentation>
                                                Способ формирования ответа на подзапрос. Допустимые значения:
                                                PROVIDED - Предоставлен организацией
                                                AUTO_GENERATED - Сформирован автоматически
                                            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="has-debt" type="xs:boolean" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Признак наличия задолженности, подтвержденной судебным актом</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="debt-info" type="tns:DebtInfoType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Информация о непогашенной задолженности, подтвержденной судебным актом</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="additional-file" type="tns:AttachmentType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Дополнительный файл</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="description" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Дополнительная информация</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="1000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="executor-info" type="tns:ExecutorInfoType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Информация о сотруднике, сформировавшем ответ</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExportHousingFundObjectInfoType">
		<xs:annotation>
			<xs:documentation>Экспортируемые сведения об объекте жилищного фонда (ОЖФ), по которому осуществляется запрос</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:HousingFundObjectInfoType">
				<xs:sequence>
					<xs:element name="fias-house-id" type="common:UUID">
						<xs:annotation>
							<xs:documentation>Идентификатор дома по ФИАС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="address">
						<xs:annotation>
							<xs:documentation>Адресная строка</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4000"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HousingFundObjectInfoType">
		<xs:annotation>
			<xs:documentation>Сведения об объекте жилищного фонда (ОЖФ), по которому осуществляется запрос</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="house-id" type="common:UUID">
				<xs:annotation>
					<xs:documentation>Идентификатор дома в Реестре адресных объектов ГИС ЖКХ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="address-details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация об ОЖФ (номер квартиры / помещения, комнаты, блока жилого дома). Обязателен для ОЖФ, имеющих тип многоквартирный дом или жилой дом блокированной застройки. Не указывается для ОЖФ, имеющих тип жилой дом</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationInfoType">
		<xs:annotation>
			<xs:documentation>Сведения об организации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="organization-root-id" type="common:UUID">
				<xs:annotation>
					<xs:documentation>Корневой идентификатор организации (в Реестре организаций ГИС ЖКХ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Телефон организации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Period">
		<xs:annotation>
			<xs:documentation>Временной период (обе даты обязательны)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="start-date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Начало периода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="end-date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Конец периода</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PeriodOpen">
		<xs:annotation>
			<xs:documentation>Открытый временной период (обе даты необязательны)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="start-date" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Начало периода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="end-date" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Конец периода</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttachmentType">
		<xs:annotation>
			<xs:documentation>Ссылка на файл вложения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metadata" type="common:FileInformationType">
				<xs:annotation>
					<xs:documentation>Информация о файле</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="smev-attachment-ref-guid" type="common:UUID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вложения из блока RefAttachmentHeaderList сообщения СМЭВ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CourtDocumentType">
		<xs:annotation>
			<xs:documentation>
                Код типа документа судебного акта.

                Допускаются любые значения из справочника ГИС ЖКХ "Тип документа для ответа на подзапрос" (НСИ #347). На
                момент выпуска версии 1.0.0 вида сведений актуальными являются следующие значения (в случае изменения
                состава справочника эта информация будет отражена в документации на вид сервиса, публикуемой на портале
                СМЭВ 3.0):

                Код Результат запроса
                --- -----------------
                1 Копия судебного акта
                2 Акт сверки
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="DocumentCodeType">
		<xs:annotation>
			<xs:documentation>
                Код документа, удостоверяющего личность.

                Допускаются любые значения из справочника ГИС ЖКХ "Документ, удостоверяющий личность" (НСИ #95). На
                момент выпуска версии 1.0.0 вида сведений актуальными являются следующие значения (в случае изменения
                состава справочника эта информация будет отражена в документации на вид сервиса, публикуемой на портале
                СМЭВ 3.0):

                Код Документ, удостоверяющий личность
                --- ---------------------------------------
                1 Паспорт гражданина Российской Федерации
                2 Паспорт гражданина СССР
                3 Паспорт гражданина иностранного государства
                4 Общегражданский заграничный паспорт
                5 Заграничный паспорт Министерства морского флота
                6 Дипломатический паспорт
                7 Паспорт моряка (удостоверение личности моряка)
                8 Военный билет военнослужащего
                9 Временное удостоверение, выданное взамен военного билета
                10 Удостоверение личности офицера Министерства обороны Российской Федерации, Министерства внутренних дел
                Российской Федерации и других воинских формирований с приложением справки о прописке (регистрации) Ф-33
                11 Свидетельство о рождении
                12 Свидетельство о рассмотрении ходатайства о признании беженцем на территории Российской Федерации по
                существу
                13 Вид на жительство иностранного гражданина или лица без гражданства
                14 Справка об освобождении из мест лишения свободы
                15 Временное удостоверение личности гражданина Российской Федерации
                16 Удостоверение вынужденного переселенца
                17 Разрешение на временное проживание в Российской Федерации
                18 Удостоверение беженца в Российской Федерации
                19 Свидетельство о рассмотрении ходатайства о признании лица вынужденным переселенцем
                20 Свидетельство о предоставлении временного убежища на территории Российской Федерации
                21 Иные документы, предусмотренные законодательством Российской Федерации или признаваемые в
                соответствии с международным договором Российской Федерации в качестве документов, удостоверяющих
                личность
                22 Загранпаспорт гражданина бывшего СССР
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="RequestNumberType">
		<xs:annotation>
			<xs:documentation>Номер запроса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="7"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RequestResultType">
		<xs:annotation>
			<xs:documentation>
                Код результата запроса о наличии или отсутствии задолженности за ЖКУ.

                Допускаются любые значения из справочника ГИС ЖКХ "Результат запроса о наличии или отсутствии
                задолженности за ЖКУ" (НСИ #345). На момент выпуска версии 1.0.0 вида сведений актуальными являются
                следующие значения (в случае изменения состава справочника эта информация будет отражена в документации
                на вид сервиса, публикуемой на портале СМЭВ 3.0):

                Код Результат запроса
                --- -----------------
                1 Запрос не отправлен
                2 Запрос ожидает ответа
                3 Имеется информация о задолженности
                4 Задолженности нет
                5 Отсутствует размещенная информация в ГИС ЖКХ
                6 Информация о задолженности отсутствует
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="RequestStatusType">
		<xs:annotation>
			<xs:documentation>
                Статус запроса в ГИС ЖКХ о наличии задолженности за ЖКУ. Допустимые значения:
                DRAFT - Проект
                PROCESSING - В обработке
                SENT - Направлен поставщикам ЖКУ
                PROCESSED - Получен ответ
                REVOKED - Отозван
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DRAFT"/>
			<xs:enumeration value="PROCESSING"/>
			<xs:enumeration value="SENT"/>
			<xs:enumeration value="PROCESSED"/>
			<xs:enumeration value="REVOKED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResponseStatusType">
		<xs:annotation>
			<xs:documentation>
                Статус ответа на подзапрос, сформированный ГИС ЖКХ.

                Допустимые значения:
                NOT_SENT - Не отправлен
                SENT - Отправлен
                AUTO_GENERATED - Сформирован автоматически
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NOT_SENT"/>
			<xs:enumeration value="SENT"/>
			<xs:enumeration value="AUTO_GENERATED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResponseType">
		<xs:annotation>
			<xs:documentation>
                Способ формирования ответа на подзапрос. Допустимые значения:
                PROVIDED - Предоставлен организацией
                AUTO_GENERATED - Сформирован автоматически
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PROVIDED"/>
			<xs:enumeration value="AUTO_GENERATED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonNameType">
		<xs:annotation>
			<xs:documentation>Скалярный тип. Строка не более 255 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
